<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Solar System</title>

    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>

  <body>
    <h1>Welcome to the Solar System Site!</h1>
    <p>Click on a planet to learn more about it:</p>

    <div>
      <a href="/mercury">Mercury</a>
      <a href="/venus">Venus</a>
    </div>

    <img alt="The Solar System" src="/img/solar-system.jpg" />
  </body>

</html>
