<%- include('partials/header.ejs') %>
  <h1 class="text-center">Welcome to Mars!</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid" alt="The Solar System" src="img/mars.jpg" />
      </div>

      <div class="col-md-6">
        The fourth planet from the Sun, Mars is a dusty, cold, desert world with a very thin atmosphere. This dynamic planet has seasons, polar ice caps, canyons, extinct volcanoes, and evidence that it was even more active in the past. Mars is one of the most
        explored bodies in our solar system, and it's the only planet where we've sent rovers to roam the alien landscape. NASA currently has three spacecraft in orbit, and it has one rover and one lander on the surface. NASA launched the next-generation
        Perseverance rover to Mars on July 30, 2020. India and ESA have spacecraft in orbit above Mars. These robotic explorers have found lots of evidence that Mars was much wetter and warmer, with a thicker atmosphere, billions of years ago.
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
