<%- include('partials/header.ejs') %>
  <h1>Welcome to Venus!</h1>

  <img alt="The Solar System" src="img/venus.jpg" />

  <div>
    Similar in size and structure to Earth, Venus has been called Earth's twin. These are not identical twins, however – there are radical differences between the two worlds. Venus has a thick, toxic atmosphere filled with carbon dioxide and it’s perpetually
    shrouded in thick, yellowish clouds of mostly sulfuric acid that trap heat, causing a runaway greenhouse effect. It’s the hottest planet in our solar system, even though Mercury is closer to the Sun. Venus has crushing air pressure at its surface
    – more than 90 times that of Earth – similar to the pressure you'd encounter a mile below the ocean on Earth.
  </div>

  <%- include('partials/footer.ejs') %>
